.App {
  text-align: center;
}

.addStockForm{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.logo-row{
  padding-top: 15px;
  text-align: right
}

.logo{
  margin-right: 70px;
  font-size:30px;
  cursor: pointer;
  font-weight: 500;
  font-family: fantasy;
}

.search-stock{
  border-radius: 20px;
  width: 150px;
  height: 20px;
  box-shadow: 3px 5px 5px #888888;
}